.cards__card {
	padding: 45px 25px;
	background-color: white;
	color: black;
	margin-bottom: 30px;
	border-radius: 8px;
	text-align: center;
}

.cards__card > h1 {
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
}
